section.recipe {
	display: grid;
	grid: none; /*reset*/
	grid-gap: 1em;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: 1fr;
	grid-template-areas:
		"title"
		"image"
		"summary"
		"ingredients"
		"instructions"
		"comments";
}

section.recipe > * {
	background-color: white;
    padding: 1.5em;
}

section.recipe > * > *:first-child {
	margin-top: 0;
} 

section.recipe > #title {
	grid-area: title;
}

section.recipe > #title > h1 {
	margin: 0;
	text-align: center;
}

section.recipe > #image {
	grid-area: image;
}

section.recipe > #image > img {
    width: 100%;
}

section.recipe > #summary {
	grid-area: summary;
}

section.recipe > #summary > .notes {
	display: flex;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
}

section.recipe > #summary > .notes > * {
	flex-basis: 100%;
	flex-shrink: 100;
	border-left: 1px solid gray;
	text-align: center;
}

section.recipe > #summary > .notes > *:first-child {
	border: 0;
}

section.recipe > #summary > .notes > * > * {
	display: block;
	font-family: sans-serif;
}

section.recipe > #summary > .notes > * > .title {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 7px;
}

section.recipe > #summary > .notes > * > .info {
	font-size: 0.8em;
}

section.recipe > #ingredients {
	grid-area: ingredients;
}

section.recipe > #ingredients ul {
	list-style: outside disc;
	padding-left: 16px;
}

section.recipe > #instructions > ol {
	list-style: outside decimal;
	padding-left: 16px;
}

section.recipe > #instructions {
	grid-area: instructions;
}

section.recipe > #instructions > ol > li {
	margin-bottom: 10px;
}

section.recipe > #comments {
	grid-area: comments;
}

section.recipe > #comments > form {
	display: flex;
	flex-direction: column;
}

section.recipe > #comments > form > input, section.recipe > #comments > form > textarea {
	margin-bottom: 1em;
	font-size: 0.8em;
	font-family: georgia, times, serif;
    line-height: 1.4em;
}

section.recipe > #comments > form > textarea {
	height: 6em;
    resize: vertical;
}

section.recipe > #comments > form > input[type=submit] {
	flex-basis: unset;
}

section.recipe > #comments > .comment {
    border-top: 1px solid #e7e7e7;
    padding: 10px;
}

section.recipe > #comments > .comment > .name {
    font-weight: bold;
    font-size: 1.3em;
}

